.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc { 
  background-image: url(/images/up_arrow.gif); 
}

.pretty th .desc { 
  background-image: url(/images/down_arrow.gif); 
}

td.hidden 
{
  width:300px;
  overflow:hidden;
}

.borderdetail {
  
  border-top: 1px solid #fff; 
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.bghcomp {
 background: url('/images/print/blue.gif') repeat;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

  