<% flash .each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>

<h1>Please add company information.</h1>

<%= render 'form' %>

<% link_to 'Back', companies_path %>
