<% flash .each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>

<h1>สร้างใบสำคัญรับเงิน</h1>

<% cookies[:backnewcust] = request.url %>
<%= render 'form' %>

  <%= link_to back, request.referer %>
